<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FacturaElectronica.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings/>
	

  <system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime executionTimeout="50000"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <FacturaElectronica.WebServices.Properties.Settings>
      <setting name="FacturaElectronica_WebServices_wsaa_LoginCMSService"
        serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="FacturaElectronica_WebServices_wsbfe_Service"
        serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsbfe/service.asmx</value>
      </setting>
      <setting name="FacturaElectronica_WebServices_wsfe_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="FacturaElectronica_WebServices_wsfex_Service"
        serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfex/service.asmx</value>
      </setting>
      <setting name="EmpresaID" serializeAs="String">
        <value>3</value>
      </setting>
    </FacturaElectronica.WebServices.Properties.Settings>
  </applicationSettings>
</configuration>
