/****** Object:  View [dbo].[Comprobantes]    Script Date: 11/27/2013 17:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Comprobantes]
AS
SELECT DISTINCT 
                      TOP (100) PERCENT dbo.CbteCabecera.CbteID AS ID, dbo.CbteCabecera.FechaComprobante, dbo.CbteCabecera.CompradorCodigoCliente, 
                      dbo.AFIPTipoComprobante.Descripcion, dbo.CbteCabecera.NroInternoERP, dbo.CbteCabecera.PuntoVenta, RTRIM(dbo.CbteCabecera.PuntoVenta) 
                      + RTRIM(dbo.CbteCabecera.NroComprobanteDesde) AS NroLegal, dbo.CbteCabecera.CodigoMoneda, dbo.CbteCabecera.ImporteMonedaFacturacion, 
                      dbo.CbteCabecera.EstadoTransaccion, dbo.AFIPTipoComprobante.CodigoAFIP, 
                      dbo.CbteCabecera.NombreObjetoSalida AS [Nombre Archivo de Respuesta AFIP], dbo.CbteCabecera.CAE, dbo.CbteCabecera.FechaVencimiento, 
                      dbo.CbteCabecera.EmpresaID, RIGHT(dbo.CbteCabecera.FACTORI_FORMATEADO, 15) AS FACTORI
FROM         dbo.CbteCabecera LEFT OUTER JOIN
                      dbo.EquivAFIPTipoComprobante INNER JOIN
                      dbo.AFIPTipoComprobante ON dbo.EquivAFIPTipoComprobante.CodigoAFIP = dbo.AFIPTipoComprobante.CodigoAFIP ON 
                      dbo.CbteCabecera.TipoComprobante = dbo.EquivAFIPTipoComprobante.CodigoEmpresa
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -576
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CbteCabecera"
            Begin Extent = 
               Top = 294
               Left = 38
               Bottom = 402
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EquivAFIPTipoComprobante"
            Begin Extent = 
               Top = 294
               Left = 522
               Bottom = 402
               Right = 676
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AFIPTipoComprobante"
            Begin Extent = 
               Top = 294
               Left = 714
               Bottom = 387
               Right = 865
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4545
         Alias = 2250
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Comprobantes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Comprobantes'
GO
