/****** Object:  Table [dbo].[AFIPImpuesto]    Script Date: 11/27/2013 17:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFIPImpuesto](
	[Id] [int] NULL,
	[CodigoAFIP] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](400) NULL
) ON [PRIMARY]
GO
